HBox {
    -fx-background-color: rgb(28, 28, 30);
}

.button {
    -fx-background-color: rgb(44, 44, 46);
}

.button .text {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat,
    rgb(48, 209, 88) 0%, rgb(100, 210, 255) 50%);
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: rgb(58, 58, 60);
}

#MembersBox {
    -fx-spacing: 8;
    -fx-padding: 4;
}

#MembersBox .button {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-radius: 25;
 }

#MenuBox {
    -fx-background-color: rgb(44, 44, 46);
}

#MenuBox .button {
    -fx-pref-height: 25px;
    -fx-pref-width: 250px;
    -fx-background-color: transparent;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 2, 0, 0, 1);
}

#MenuBox .button .text {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat,
    rgb(48, 209, 88) 0%, rgb(100, 210, 255) 50%);
}

#MenuBox .button:hover {
    -fx-cursor: hand;
    -fx-background-color: rgb(58, 58, 60);
}

#MainBox VBox {
    -fx-spacing: 8;
    -fx-padding: 4;
}

#MainBox VBox HBox {
    -fx-spacing: 8;
    -fx-padding: 8;
}

#MainBox StackPane .button {
    -fx-pref-height: 115px;
    -fx-pref-width: 115px;
    -fx-background-radius: 100px;
    -fx-background-color: rgb(229, 229, 234, 0.7);
}

#MainBox StackPane .button .text {
    -fx-font: 20px "Prismatic";
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat,
    rgb(52, 199, 89) 0%, rgb(90, 200, 250) 50%);
}

#MainBox StackPane .button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
    -fx-background-color: rgba(229, 229, 234, 0.9);
}

#MainBox StackPane .button:pressed {
    -fx-cursor: wait;
    -fx-background-color: rgba(229, 229, 234);
}

#MainBox VBox StackPane .text {
    -fx-font: 40px "Freestyle Script";
    -fx-fill: rgb(242, 242, 247, 0.85);
}

#MainBox VBox Pane {
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat,
    rgb(52, 199, 89) 10%, rgb(90, 200, 250) 40%, rgb(175, 82, 222) 90%);
}

#MainBox VBox Pane .text {
    -fx-font: 40px "Freestyle Script";
    -fx-fill: rgb(242, 242, 247);
}

#MainBox Circle {
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat,
    rgb(48, 209, 88) 0%, rgb(100, 210, 255) 25%, rgb(191, 90, 242) 75%);
}

#MainBox .list-view {
    -fx-pref-width: 350px;
    -fx-pref-height: 625px;
    -fx-background-color: rgb(28, 28, 30);
}

#MainBox .list-view .list-cell:even {
    -fx-font-weight: bold;
    -fx-background-color: rgb(242, 242, 247);
    -fx-text-fill: rgb(99, 99, 102);
}

#MainBox .list-view .list-cell:odd {
    -fx-font-weight: bold;
    -fx-background-color: rgb(229, 229, 234);
    -fx-text-fill: rgb(142, 142, 147);
}

#MainBox .list-view .list-cell:hover {
    -fx-text-fill: rgb(28, 28, 30);
    -fx-background-color: rgb(199, 199, 204);
    -fx-background-insets: 0,1,4,5,6;
    -fx-padding: 15 30 15 30;
    -fx-cursor: hand;
}

#MainBox .list-view .list-cell:filled:selected:focused {
    -fx-text-fill: rgb(229, 229, 234);
    -fx-background-color: rgb(28, 28, 30);
    -fx-background-insets: 0,1,4,5,6;
    -fx-padding: 15 30 15 30;
}